body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #131419;
  background-color: #ECEEF9;
  margin: 0;
  user-select: none;
}

a {
  color: #131419;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

@media (min-width: 992px) {
  .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
#header {
  border-bottom: 1px solid #C7C8D6;
}
#header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}
#header .wrapper #tabs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#header .wrapper #tabs ul li {
  display: inline-block;
  font-size: 1.375rem;
}
#header .wrapper #tabs ul li.current {
  font-weight: 700;
}
#header .wrapper #tabs ul li.current a:hover {
  color: #131419;
}
#header .wrapper #tabs ul li a {
  padding: 0 0.75rem;
  transition: 0.15s ease-in-out;
}
#header .wrapper #tabs ul li a:hover {
  color: #6b718d;
}
#header .wrapper #portfolio {
  display: inline-block;
}
#header .wrapper #portfolio .ezbet-btn {
  background: #343640;
  padding: 10px 26px;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  transition: 0.15s ease-in-out;
  float: right;
}
#header .wrapper #portfolio .ezbet-btn:hover {
  color: #fff;
  background: #292a32;
}
#header .wrapper #portfolio .ezbet-balance {
  padding: 10px 26px;
  border-radius: 50px;
  color: #626578;
  font-weight: 700;
  transition: 0.15s ease-in-out;
  float: right;
}
#header .wrapper #portfolio .ezbet-balance:hover {
  color: #1d1e24;
}

#content .home-columns > div:last-child {
  padding-left: 2rem;
}

#match-list {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
}
#match-list > h5 {
  color: #343640;
  margin-bottom: 1rem;
}
#match-list .match-tease {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background: #ECEEF9;
  padding: 18px 20px;
  margin-bottom: 2rem;
  box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.16), -6px -6px 18px 0px white;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
#match-list .match-tease:hover, #match-list .match-tease.active {
  box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.2), -8px -8px 20px 0px white;
}
#match-list .match-tease:before {
  content: "vs";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 46px;
  font-weight: 700;
  color: #C7C8D6;
}
#match-list .match-tease--team {
  display: flex;
  align-items: center;
}
#match-list .match-tease--team:last-child {
  text-align: right;
}
#match-list .match-tease--team:last-child img {
  margin-left: 7px;
  margin-right: 0;
}
#match-list .match-tease--team.selected > div > h5 {
  text-decoration: underline;
}
#match-list .match-tease--team--info h5 {
  margin-bottom: 2px;
}
#match-list .match-tease--team--info span {
  background-color: #131419;
  color: #fff;
  font-weight: 700;
  padding: 1px 5px;
  border-radius: 7px;
  font-size: 14px;
}
#match-list .match-tease--team img {
  width: 50px;
  max-height: 50px;
  margin-right: 7px;
}
#match-list .match-tease--date {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 15px;
}
#match-list .match-tease--date > span {
  font-weight: 700;
}
#match-list .match-holder {
  flex: 1 0 auto;
}

#match-detail-wrapper {
  position: relative;
  padding: 3rem 2rem;
  height: 100%;
  border-left: 1px solid #C7C8D6;
}
#match-detail-wrapper .match-detail {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  padding: 2rem 2.5rem;
  transition: 0.15s ease-in-out;
  padding-top: 0;
}
#match-detail-wrapper .match-detail.active {
  opacity: 1;
  visibility: visible;
}
#match-detail-wrapper .match-detail--head--info h5 {
  margin-bottom: 0;
}
#match-detail-wrapper .match-detail--head img {
  width: 200px;
  margin-bottom: 5px;
}
#match-detail-wrapper .match-detail--stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}
#match-detail-wrapper .match-detail--odds {
  display: flex;
  padding: 30px 40px 30px 0px;
  flex-direction: row;
}
#match-detail-wrapper .match-detail--odds span {
  flex: 1 1 auto;
  justify-content: center;
  display: block;
  background: #C7C8D6;
  color: #324159;
  margin: 100px;
  margin-bottom: 0;
  margin-top: 50px;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 20px;
}
#match-detail-wrapper .match-detail--odds span h3, #match-detail-wrapper .match-detail--odds span p {
  width: auto;
  text-align: center;
  margin: 0;
}
#match-detail-wrapper .match-detail--odds span p {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-size: 48px;
  font-weight: 600;
}
#match-detail-wrapper .match-detail h3 {
  margin-top: 30px;
}
#match-detail-wrapper .match-detail .bar-holder {
  width: 100%;
  height: 2em;
  border-radius: 20px;
  background: #324159;
}
#match-detail-wrapper .match-detail .bar-percentage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.35rem;
  font-weight: 600;
}
#match-detail-wrapper .match-detail .bar {
  height: 2em;
  border-radius: 20px;
  background: #f34e57;
}

.match-add-portfolio {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  margin: 30px 100px;
  margin-bottom: 60px;
  border-radius: 20px;
  background: #C7C8D6;
}
.match-add-portfolio input[type=radio] {
  width: 25px;
  height: 25px;
  margin: 10px;
}
.match-add-portfolio label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #131419;
  font-size: 24px;
  margin-top: 6px;
}
.match-add-portfolio input[type=number] {
  width: 80px;
  height: 42px;
  margin-top: 3px;
  font-size: 24px;
  border: 1px solid #131419;
  padding-left: 10px;
  border-radius: 10px;
  background: #ECEEF9;
}
.match-add-portfolio > a {
  color: #131419;
  font-size: 22px;
  margin-top: 9px;
  font-weight: 600;
  border-radius: 10px;
}
.match-add-portfolio > a:hover {
  text-decoration: underline;
}

#portfolio-chart {
  padding: 40px 20px;
}

/*# sourceMappingURL=main.css.map */
